@import url(./fonts.css);
/* css variables */ 
@import url(./partials/_variable.css);

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 40px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}

.services .serv-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* services section styling */
.services, .teams{
    color:#fff;
    background: var(--gradient-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services h2,.services .serv-content{
    color:#fff;
}
.services .title::before,
.teams .title::before{
    background: #fff;
}
.services .title::after,
.teams .title::after{
    background: #111;
    }
.services .serv-content .card{
    background: var(--gradient-color);
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    margin: 0% 20px;
}
.services .serv-content .card:hover{
    background: #fff;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: var(--gradient-color);
    transition: color 0.3s ease;
}
.services .serv-content .card i{
    color: #fff;
}
.services .serv-content .card:hover i{
    color: #4458dc;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: #fff;
}
.services .serv-content .card:hover .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: #4458dc;
}
.services .serv-content .card p{
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: #fff;
}
.services .serv-content .card:hover p{
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: #4458dc;
}
