/* @import fonts from fonts css file */
@import url(./fonts.css);
/* css variables */ 
@import url(./partials/_variable.css);

/* @import global styling */
@import url(../css/partials/global.css);
/* start navigation */
.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 10rem 0 1rem ;
}
/* fixed menu nav menu hamburguer */

 
.header_area .header{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav a.active{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* end navigation */

/* start banner area */
.site-main .site-banner{
    background: url(../img/banner/home-banner.png) no-repeat 10% 60%;
}
.site-main .site-banner .site-title .site-button{
    margin-top: 12px ;
}
.site-main .site-banner .site-title h3{
 padding-top: 35%;
 font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
   content: "";
   height: 2px;
   width: 18vw;
   background: black;
   display: inline-block;
   margin-left: 5px;
   transform: translateY(-8px);
}
.site-main .site-banner .site-title h1{
    font-size: 3rem;
}
.site-main .site-banner .site-title .typing{
    font-size: 1.5rem;
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: normal 500 29px/40px var(--roboto);
    
}
.site-main .site-banner .banner-image > img{
padding: 7rem 0;
width: 80rem;
 }

 
/* end banner area */

/* Start about area */
.site-main .about-area .about-title h2 >span{
    display: block;
    font: normal bold 20px/40px var(--roboto);
    letter-spacing: 11px;
}
.site-main .about-area .about-title .paragraph >p{
    padding: .4rem 0;
}
p.para{
    color: var(--text-color);
    font: normal 500 16px/25px var(--roboto);
}
.site-main .about-area .whatsapp-link {
    color: #fff;
}

.site-main .about-area .whatsapp-link .fa-whatsapp {
    margin-top: 16px;
}
/* End about area */

/* Start brand area */
.site-main .brand-area{
    padding: 1rem 5rem;
    margin-bottom: 4rem;
     margin-top: 2rem;

}
.site-main .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0;
    margin: .9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand>img{
width: 50%;
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover>img{
filter: brightness(0.15);
}
.site-main .brand-area .experience-area{
    padding-left: 2rem;
}
.site-main .brand-area .experience-area span{
    display: block;
}
.site-main .brand-area .experience-area .years-area{
   background: url(../img/client-info-bg.png) no-repeat 45px 20px;
   padding: 2rem 0;
   margin-top: 2rem;
   padding-left: 8rem;
   position: relative;
}
.site-main .brand-area .experience-area .bg-panel{
    position: absolute;
    left: -190px; top: 0%;
    background: #e029290a;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;
}

.site-main .brand-area .experience-area .years-area .years{
    font: normal bold 45px/60px var(--roboto);
    color: var(--primary-color2);
    /* z-index: 2; */
}

.site-main .brand-area .experience-area .years-area h2 > span{
    font: normal 400 22px/30px var(--roboto);
}

.site-main .brand-area .experience-area .call-area{
    padding-left: 10rem;
}
/* End brand area */

/* Footer Area */ 

footer.footer-area{
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}


/* End Footer */ 


@media (max-width: 800px) {
    .header_area .main-menu .navbar img{
        width: 160px;
     }
    .header_area .main-menu .navbar{
        padding: 0%;
        position: fixed;
        top: 0%;
        left: 5px;
     }
     
 }
 @media (max-width: 500px) {
    .header_area .main-menu .navbar img{
        width: 140px;
        margin-right: 1rem; 
        position: fixed;
        top: 2%;
        left: 15px;
     }
    .header_area .main-menu .navbar{
        position: fixed;
        top: 2%;
        right: 0;
     }
     .header_area .main-menu .navbar .navbar-brand{
        margin-left: 5rem;    
    }
     
 }